.modalDialog {
    z-index: 999;
    margin: 0;
    padding: 0;
}

.modalDialogShown {
	animation: fade-in-fwd 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

@keyframes fade-in-fwd {
    0% {
    visibility: hidden; 
    opacity: 0;
    }
    100% {
    visibility: visible;
    opacity: 1;
    }
}

.modalDialogHidden {
    animation: fade-out-bwd 0.2s cubic-bezier(1.000, 0.565, 0.575, 0.390) forwards;
  }
  
@keyframes fade-out-bwd {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
} 